/* *{
    text-align: center;
}    */
body {
    text-align: center;
    align-items: center;
    background-color: rgb(99, 137, 124);
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 10px;
}

td {
    width: 35px;
    height: 35px;
    font-size: 27px;
    text-align: center;
    transition: 0.5s;
    border: 3px solid black;
    background-color: gray;
    color: wheat;
}

.board td:hover {
    background-color: lightsalmon;
}

.footer {
    position:absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: burlywood;
    color: black;
    text-align: center;
    /* height: 30px; */
}

#timer {
    height: 20px;
    width: 80px;
    margin-bottom: 60px;
    border: 3px solid black;
    background-color: burlywood;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
    margin-top: -18px;
}

span.hidden {
    visibility: hidden;
}

.restart-btn {
    width: 80px;
    height: 40px;
    font-size: 20px;
    border: 3px solid black;
    background-color: rgb(26, 174, 238);
    cursor: pointer;  
}

.restart-btn:hover{
    background-color: yellowgreen
}

.marked  {
    width: 80px;
    height: 40px;
    font-size: 20px;
    border: 3px solid black;
    background-color: rgb(213, 38, 38);
}

.modal {
    display: none;
    border: solid 3px grey;
    width: 300px;
    height: 150px;
    background-color: gray;
    color: black;
    font-size: 32px;
    position: absolute;
    top: 450px;
    left: calc(50% - 150px);
    color: blanchedalmond;
    border-style: dotted;
    border-color:rgb(14, 102, 140);
  }


  header{
    margin-top: -23px;
  }

  .lives{
    background-color: black;
    color: greenyellow;
    width: 100px;
    margin: auto;
    margin-top: 10px;
    text-decoration: double
  }

  