/* *{
    text-align: center;
}    */
body {
    text-align: center;
    align-items: center;
    background-color: rgb(99, 137, 124);
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 20px;
}

td {
    width: 50px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    transition: 0.5s;
    border: 3px solid black;
    background-color: gray;
    color: wheat;
}

.board td:hover {
    background-color: lightsalmon;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: burlywood;
    color: black;
    text-align: center;
}

#timer {
    height: 20px;
    width: 80px;
    margin-bottom: 50px;
    border: 3px solid black;
    background-color: burlywood;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
}

span.hidden {
    visibility: hidden;
}


button {
    width: 80px;
    height: 40px;
    font-size: 20px;
    border: 3px solid black;
    background-color: rgb(26, 174, 238);
}

.marked {
    width: 80px;
    height: 40px;
    font-size: 20px;
    border: 3px solid black;
    background-color: rgb(14, 102, 140);
}